@import "./normalize.css";

html {
  font-size: 62.5%;
}

body {
  background-image: url("/images/table.png");
  background-size: cover;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  background-color: goldenrod;
  border-radius: 0.7rem;
  border: 0;
  color: #016f32;
  font-weight: bold;
  padding: 1rem 7.5rem;
}
